body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    

}

#image img {
    width: 50vw;
    height: 100%;
    object-fit: cover
}

#signup-form {
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    /* justify-content: center; */

}

@media (max-width: 900px) {
    #image img {
        width: 0;
        height: 0;
        display: none
    }


}